<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Profile Details
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="save()">Save</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-divider>
      Your Information
    </ion-item-divider>
    <ion-item class="ml-input">
      <ion-icon name="md-contact" item-left></ion-icon>
      <div *ngIf="hasDataProfileFullName">
        <p class="ml-label-has-input">Full Name</p>
        <h2 class="ml-has-input">{{ fullname }}</h2>
      </div>
      <div *ngIf="!hasDataProfileFullName">
        <h2 class="ml-has-no-input">Full Name</h2>
      </div>
      <ion-icon name="arrow-forward" item-right color="mliconarrowblue"></ion-icon>
    </ion-item>
    <ion-item class="ml-input">
      <ion-icon name="md-contact" item-left></ion-icon>
      <div *ngIf="hasDataProfileNickname">
        <p class="ml-label-has-input">Nickname</p>
        <h2 class="ml-has-input">{{ nickname }}</h2>
      </div>
      <div *ngIf="!hasDataProfileNickname">
        <h2 class="ml-has-no-input">Nickname</h2>
      </div>
      <ion-icon name="arrow-forward" item-right color="mliconarrowblue"></ion-icon>
    </ion-item>




  <ion-item class="ml-input">
    <ion-icon name="md-contact" item-left></ion-icon>
    <div *ngIf="hasDataProfileNickname">
      <button ion-item (click)="openPersonalProfile()">
        <p>Change Name</p>
      </button>
    </div>
    <div *ngIf="!hasDataProfileNickname">
      <h2 class="ml-has-no-input">Nickname</h2>
    </div>
    <ion-icon name="arrow-forward" item-right color="mliconarrowblue"></ion-icon>
  </ion-item>


  <ion-item class="ml-input">
    <ion-icon name="md-contact" item-left></ion-icon>
    <div *ngIf="hasDataProfileNickname">
      <button ion-item (click)="openPersonalProfile()">
        <p>Change Password</p>
      </button>
    </div>
    <div *ngIf="!hasDataProfileNickname">
      <h2 class="ml-has-no-input">Nickname</h2>
    </div>
    <ion-icon name="arrow-forward" item-right color="mliconarrowblue"></ion-icon>
  </ion-item>


  </ion-list>


</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    
  </ion-toolbar>
</ion-footer>
