<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Our Menu</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="grid-basic-page">
  <ion-card>
  <ion-list>
      <ion-item-group *ngFor="let group of groupedMenu">
        <ion-item-divider sticky>
          <ion-label>
            {{group.category}}
          </ion-label>
        </ion-item-divider>
        <ion-item *ngFor="let menu of group.menu">
            <div class="left">
              <img src={{menu.image}} class="customized-image">
            </div>
            <div class="right">
              <h2> {{ menu.name }} </h2>
              <p> {{ menu.description }} </p>
            </div>
        </ion-item>
      </ion-item-group>
    </ion-list>
  </ion-card>
</ion-content>
