<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>History</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-item-group *ngFor="let group of groupedHistory">
        <ion-item-divider sticky>
          <ion-label>
            {{group.date}}
          </ion-label>
        </ion-item-divider>
        <ion-item *ngFor="let history of group.history" #slidingItem>
            Date: {{ history.date}} -
            Type: {{ history.type}} -
            Points: {{ history.points}}
        </ion-item>
      </ion-item-group>
    </ion-list>
</ion-content>
