<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>History</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="grid-basic-page">
  <ion-card>
    <ion-list>
      <ion-item-group *ngFor="let group of groupedHistory">
        <ion-item-divider sticky>
          <ion-label>
            {{group.date}}
          </ion-label>
        </ion-item-divider>
        <ion-item *ngFor="let history of group.history" #slidingItem>
            <div class="twenty">
              <ion-icon name={{history.icon}}></ion-icon>
            </div>
            <div class="fourty">
              <h2>{{ history.type }}</h2>
            </div>
            <div class="fourty">
              <b>Points:</b>  {{ history.points }}
            </div>
        </ion-item>
      </ion-item-group>
    </ion-list>
  </ion-card>
</ion-content>
