<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Awards</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="grid-basic-page">
  <ion-card>
    <ion-list>
      <ion-item-group *ngFor="let group of groupedAwards">
        <ion-item-divider sticky>
          <ion-label>
            {{group.date  | date: "MM/dd/yyyy" }}
          </ion-label>
        </ion-item-divider>
        <ion-item *ngFor="let award of group.awards" #slidingItem>
            Icon: {{ award.icon }} <br/>
            Type: {{ award.type}} -
            Name: {{ award.name }} <br/>
            Description: {{ award.description }}
        </ion-item>
      </ion-item-group>
    </ion-list>
  </ion-card>
</ion-content>
