page-awards-list {
h2{
  font-size: 20px;
  text-align: center;
}
ion-icon{
  width: 30px;
}
}

.grid-basic-page {
  border-radius: 20px;
  background-image: url('../assets/img/dashboard.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #FFFFFF;
}
