page-dashboard {
}
.titleicon {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align:center;
}

.grid-basic-page {
  border-radius: 20px;
  background-image: url('../assets/img/dashboard2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #FFFFFF;
}
.chart{
    //background-image: url('../assets/img/chart-inside.png');
    //background-color: #ffffff;
    //background-size: 30px;
    padding: 5px;
    //border: 1px solid #ddd;
    //border-radius: 2px;
    text-align: center;
    //height: 300px;
}
.chart-sub-title{
  color: #FFFFFF;
  font-size: 18px;
  font-weight: bold;
}
.unlock{
  font-size: 18px;
  font-weight: bold;
}

ion-card.card-background{
  border-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  color: white;
}
