page-events-list {

}

.grid-basic-page {
  border-radius: 20px;
  background-image: url('../assets/img/dashboard.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #FFFFFF;
}
