page-redeem {
  redeem_image{
    height: 175px !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .divImage {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .divText {
    display: inline-block;
  }
  .divImage .i {
    width: 175px !important;
    height: 175px !important;
    //border: 5px solid #fff;
    //border-radius: 100%;
    font-size: 90px;
    line-height: 38px;
    color: #fff;
    margin: 7% 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}
